@model Contact

<form asp-action="EditContact" asp-controller="Contact" method="post">
    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Изменить контакт</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input value="@Model.Id" hidden/>
                    <input class="form-control mb-2" asp-for="Name" type="text" placeholder="Андрей.." />
                    <input class="form-control mb-2" asp-for="MobilePhone" type="tel" placeholder="+375 (12) 345 67 89.." />
                    <input class="form-control mb-2" asp-for="JobTitle" type="text" placeholder="Программист.." />
                    <input class="form-control mb-2" asp-for="BirthDate" type="date" placeholder="11.09.2001.." />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>