@model Contact


<input value="@Model.Id" asp-for="Id" hidden/>
<div>
    <label class="form-label" asp-for="Name"></label>
    <input class="form-control mb-2" asp-for="Name" type="text" placeholder="Andrew.."/>
</div>
<div>
    <label class="form-label" asp-for="MobilePhone"></label>
    <input class="form-control mb-2" asp-for="MobilePhone" type="text" placeholder="+375 (12) 345 67 89.." />
</div>
    <label class="form-label"  asp-for="JobTitle"></label>
    <input class="form-control mb-2" asp-for="JobTitle" type="text" placeholder="Programmer.."/>
<div>
    <label class="form-label" asp-for="BirthDate"></label>
    <input class="form-control mb-2" asp-for="BirthDate" type="date"/>
</div>