html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: 1.2rem;
}


input.error {
    box-shadow: 0 0 0 0.2rem rgba(255, 100, 128, 0.6);
    border: 1px solid red;
    color: red;
}
label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: -5px;
}  